<a href="{% url 'app_one:update_task' %}">Create Task</a><br>
<ol>
{% for task in task_list %}
    <a href="{% url 'app_one:update_task' task.id %}">#{{task.work_name}}</a>
    <a href="{% url 'app_one:delete_task' task.id %}">Delete{{task.work_name}}</a><br>
    <li>
        <ul>
            <li>{{task.work_name}}</li>
            <li>{{task.starting_date}}</li>
            <li>{{task.ending_date}}</li>
            <li>{{task.work_status}}</li>
        </ul>
    </li>
    {% empty %}
    <i>There is no task to do</i>
{% endfor %}
</ol>